/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    /* font: inherit; */
    vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
    display: block;
}

body {
    line-height: 1;
}

ol,
ul {
    list-style: none;
}

blockquote,
q {
    quotes: none;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
    content: '';
    content: none;
}

table {
    border-collapse: collapse;
    border-spacing: 0;
}



/* variables */
:root {
    --mhpgreen: #1A2929;
    --white: #f5f5f5;
    --mhpblue: #DAE3EA;
    --mhpgrey: #6D7D8B;
}


/* Font definitions */
@font-face {
    font-family: mulish;
    src: url(/fonts/Mulish-VariableFont_wght.ttf);
}

@font-face {
    font-family: opensans;
    src: url(/fonts/OpenSans-VariableFont_wdth.ttf);
}

@font-face {
    font-family: se ;
    src: url();
}

/* general settings */
h1{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

p{
    font-family: opensans;
}

html {
    background-color: var(--mhpgreen);
    color: var(--white);
    overflow-x: hidden;
}



/* animation settings */
.reveal_up {
    position: relative;
    transform: translateY(-150px);
    opacity: 0;
    transition: 2s all ease;
}

.reveal_up.animate_active {
    transform: translateY(0);
    opacity: 1;
}

.reveal_left{

    position: relative;
    transform: translateX(-100px);
    opacity: 0;
    transition: 2s all ease;
}

.reveal_left.animate_active {
    transform: translateX(0);
    opacity: 1;
}


.reveal_right {

    position: relative;
    transform: translateX(100px);
    opacity: 0;
    transition: 2s all ease;
}

.reveal_right.animate_active {
    transform: translateX(0);
    opacity: 1;
}

.reveal_down {
    position: relative;
    transform: translateY(150px);
    opacity: 0;
    transition: 2s all ease;
}

.reveal_down.animate_active {
    transform: translateY(0);
    opacity: 1;
}

/* Main Setting for Phone starts here */
.large_screen{
    display: none;
}

.mainLogo {
    width: 209px;
    height: 46px;
    margin: 30px auto 5px auto;
    background-image: url(/assets/LogoMain.png);
    background-position: center;
    background-size: contain;
}

.navLinks {
    text-align: center;
    margin-top: 20px;
    margin-bottom: 12px;
}

.navLinks ul {
    margin: auto;
    width: 100%;
}

.navLinks li {
    color: white;
    display: inline;
}

.navLinks a {
    color: white;
    font-size: 10px;
    font-weight: 700;
    font-family: mulish;
    text-decoration: none;
    margin: 0px 14px;
}

.active {
    color: var(--mhpgreen) !important;
    background-color: var(--white);
    font-size: 12px !important;
    padding: 10px;
    border-radius: 15px;
}

.home_banner_Heading{
    margin: 40px auto 20px 18px;
}

.home_banner_Heading h1{
    margin-top: 15px;
    font-size: 30px;
    font-weight: 600;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.home_banner_images {
    display: grid;
    grid-template-columns: 6fr 4fr;
    gap: 3px;
    margin: 20px;
    height: 89px;
}

.home_banner_image1 {
    grid-column: 1/2;
    /* width: 249px; */
    background-image: url(/assets/Home_banner1.png);
    background-size: cover;
    background-repeat: no-repeat;
}

.home_banner_imageGroup {
    grid-column: 2/3;
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 3px;
}

.home_banner_image2 {
    background-image: url(/assets/Home_banner2.png);
    background-size: cover;
    background-repeat: no-repeat;
}

.home_banner_image3 {
    background-image: url(/assets/Home_banner3.png);
    background-size:cover;
    background-repeat: no-repeat;
}

.ceo_caption{
    height: 90px;
    background-color: var(--white);
    color: var(--mhpgreen);
    border: solid 1px var(--mhpgreen);
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

figure{
    font-weight: 600;
    font-size: 16px;
    padding: 10px;
    margin: 10px;
    align-content: center;
    /* position: absolute; */
}

figcaption{
    text-align: right;
    margin: 5px auto;
    font-size: 12px;
}


.why_us{
    text-align: center;
    margin-top: 30px;
}

.why_us h1{
    text-transform: uppercase;
    font-size: 22px;
    font-weight: 600;
    margin-bottom: 10px;
}

.why_us p{
    text-align: center;
    margin: auto;
    width: 75%;
    font-size: 16px;
    line-height: 1.5;
}

.why_us_img{
    margin-top: 20px;
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    row-gap: 5px;
}

#whyusimg_1{
    grid-column: 1/13;
    grid-row: 1;
}

#whyusimg_2{
    width: 100%;
    grid-column: 1/6;
    grid-row: 2;
}

#whyusimg_3{
    width: 100%;
    grid-column:6/13;
    grid-row: 2;
    /* margin-top: 40px; */
}

.why_us_points{
    margin: 30px 10px;
}

.why_us_data{
    display: grid;
    grid-template-columns: repeat(12 1fr);
    gap: 10px;
    margin-bottom: 12px;
}

.why_us_data img{
    grid-column: 1/2;
}

.why_us_data p{
    grid-column: 2/13;
    line-height: 1.4;
}

.contact_btn{
    width: 162px;
    height: 60px;
    border-radius: 20px
}

.contact_btn a{
    text-decoration: none;
    color: black;
    font-size: 20px;
}

.mhp_commitment{
    margin-top: 70px;
    width: 100%;

}

.mhp_commitment_item{
    margin-bottom: 50px;
}

.commitment_img img{
    transition: transform 0.2s;
}

.commitment_img img:hover{
    transition: all 1s ease;
    scale: 1.1;
}

.commitment_img img{
    /* padding: 5 */
    display: flex;
    justify-content: center;
    align-content: center;
    width: 90%;
    margin: auto;
   
}

.commitment_data h1{
    margin-top: 50px;
    margin-left: 20px;
    font-size: 48px;
    font-family: opensans;
    font-weight: 700;
    line-height: 1.3;
}

.commitment_data p{
    margin-top: 30px;
    margin-left: 20px;
    margin-right: 10px;
    font-size: 16px;
    font-family: opensans;
    line-height: 1.8;
    text-align: justify;
}

.learnmore{
    margin-left: 20px;
    margin-top: 40px;
}



.learnmore img, .learnmore p{
    display: inline-block;
    font-size: 16px;
    font-weight: 700;
}

#specialSpace {
    margin-bottom: 40px !important;
}

.mhp_reviews{
    margin: 20px;
}


.review_heading h1{
    font-size: 48px;
    font-weight: 800;
    font-family: opensans;
    line-height: 1.5;
}

.review_block{
    width: 90%;
    height: 400px;
    background-color: var(--mhpblue);
    margin: 50px auto 30px auto;
    padding: 10px;
    position: relative;
}

.review_block img{
    margin: 50px auto 0px 20px;
}

.review_block p{
    margin: 20px auto 0px 20px;
    color: var(--mhpgrey);
    font-size: 18px;
    font-family: mulish;
    line-height: 1.6;
}

.reviewer{
    display: grid;
    grid-template-columns: 1fr 3fr;
    gap: 10px;
    color: var(--mhpgrey);
    margin-top: 40px;
    position: absolute;
    bottom: 10px;

}

.reviewer img{
    grid-column: 1/2;
    margin: auto;
}

.reviewer h3{
    grid-column: 2/3;
    font-family: mulish;
    font-size: 18px;
}


.reviewer span{
    line-height: 2;
    font-size: 12px;
}


.Mhp_contactus{
    background-color: var(--mhpblue);
    color: var(--mhpgrey);
}

.Mhp_contactus img{
    display: flex;
    margin: auto;
    padding-top: 20px;
}

.contact_social, .contact_services{
    margin: 40px 30px auto 20px;
}

.contact_services{
    margin-top: 10px;
}


.contact_social p, .contact_services p{
    font-family: mulish;
    text-transform: uppercase;
    font-size: 16px;
    font-weight: 800;
    margin-bottom: 10px;
}


.contact_social img {
    padding: 0;
    display: inline;
}

.contact_social a, .contact_services a{
    text-decoration: none;
    color: var(--mhpgrey);
    font-size: 14px;
    font-weight: 600;
    font-family: mulish;
}

.contact_social li, .contact_services li{
    margin-bottom: 5px;
}

.contact_paragraph{
    display: block;
    margin-left: 20px;
}

.form_contact_us {
    width: 95%;
    margin: 60px auto 0px auto;
   }
   
.form_contact_us button {
width: 295px;
height: 63px;
margin-left: 30px;
margin-bottom: 0px;
border-radius: 10px;
border-color: var(--white);
text-align: left;
padding-left: 20px;
text-transform: uppercase;
font-weight: 700;
background-color: var(--mhpgrey);
color: var(--white);

}

.form_contact_us img{
    display: inline;
}

.form_contact_us p{
    text-align: right;
    font-size: 0.7em;
    font-family: mulish;
    color: var(--mhpgrey);
    padding-bottom: 40px;
}

.form_contact_us a{
    text-decoration: none;
}


.form_items {
margin: 10px;
padding-bottom: 10px;
border-bottom: solid 1px var(--mhpgrey)
}

.form_contact_us input {
width: 70%;
background-color: rgba(0, 0, 0, 0);
border-style: none;
color: var(--mhpgrey);
outline: none;
padding-left: 30px;
text-overflow: ellipsis;
}

.form_items textarea {
background-color: rgba(0, 0, 0, 0);
width: 100%;
outline: none;
border-style: none;
color: var(--mhpgrey);
}

footer{
    display: grid;
    grid-template-columns: 1fr 1fr;
    font-family: mulish;
    font-size: 12px;
    background-color: var(--mhpblue);
    color: var(--mhpgrey);
    padding: 20px 0px 0px 0px;
}

footer p{
margin-left: 10px;
margin-bottom: 10px;
text-align: center;
}


/* Styling for Project Page */

.ongoing_projects {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    text-transform: uppercase;
    text-align: center;
    margin: 40px 0px;
}

.ongoing_projects h1 {
    margin-bottom: 20px;
    font-size: 20px;
    text-align: left;
    margin-left: 80px;
}

.ongoing_projects p {
    text-transform: capitalize;
    text-align: left;
    width: 70%;
    margin-left: 80px;
    margin-bottom: 80px;
    font-size: 18px;
    /* margin-top: 30px; */
    font-weight: 700;
    line-height: 1.6;
}


.ongoing_projects_img{
    display: grid;
    grid-template-columns: 1fr;
}

.pages{
    display: none;width: 100%;
}

.projectImages:hover{
    scale: 1.3;
    transition: all 1s ease;

}

.projectImages img{
    width: 300px;
    height: 254px;
    padding: 10px;
    margin: 0px auto 50px auto;
    border: solid 1px var(--white);

}

.Page_active{
    display: block;
}

#previous{
    display: none;
}


.projects_intro{
    margin-top: 70px;
    margin-bottom: 30px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    margin-left: 40px;
}

.projects_intro h1{
    font-size: 20px;
    font-weight: 700;
}

.project_btn_group {
    justify-content: center;
    width: max-content;
    margin: auto;
}

.project_btn_group button {
    margin-left: 5px;
    width: 200px;
    font-size: 0.8em;
}

.project_btn{
    width: 200px;
    height: 48px;
    border-radius: 4px;
    background-color: var(--mhpblue);
    text-align: center;
    color: var(--mhpgrey);
    margin-left: 20px;
    margin-bottom: 50px;
    font-family: mulish;
    font-size: 16px;
}


/* styling aboutus page here */

.about_us img{
    display: flex;
    width: 350px;
    height: 154px;
    margin: 20px auto;
    border-radius: 20px;
}

.about_us h1{
    font-family: mulish;
    font-size: 20px;
    font-weight: 800;
    text-align: center;
    margin-top: 50px;
    margin-bottom: 0px;
}

.about_us p{
    margin-left: 40px;
    margin-bottom: 20px;
    width: 327px;
    font-family: mulish;
    font-size: 12px;
    line-height: 1.7;
}

.signature{
    margin-bottom: 5px !important;
    margin-top: 50px !important;
}



.signature_ecclipse{
    margin-bottom: 5px !important;
}

.signature_ecclipse img{
    width: auto;
    height: auto;
    margin: 0px !important;
}

.signature_CEO{
    margin-bottom: 30px !important;
}





/* small tablets 620 - 959px*/
@media screen and (min-width: 620px){

    .home_main{
        width: 80%;
        margin: auto;
    }
    .large_screen{
        display: block;
    }

    .small_screen {
        display: none;
    }

    .navLinks a{
        margin-left: 60px;
    }

    .home_banner_Heading{
        display: grid;
        grid-template-columns: repeat(12 1fr);
        margin-bottom: 0px;
    }

    .home_banner_images{
        margin-top: 0px;
        margin-bottom: 40px;
    }

    .heading_text{
        grid-column: 1/7;
    }

    .large_screen_text p{
        margin-top: 10px;
        width: 60%;
        line-height: 1.5;
    }

    .head_img{
        grid-column: 9/10;
    }
    .head_img img{
        width: 225px;
        height: 219px;
        margin-right: 20px;
    }

    .home_banner_images{
        height: 200px;
    }

    .why_us_grid{
        display: grid;
        grid-template-columns: repeat(12 1fr);
        margin-top: 50px;
    }

    .why_us_img{
        display: none;
        position: relative;
    }

    .why_us_img img{
        width: 100%;
        height: auto;
    }

    #whyusimg_1{
        position: relative;
        top: 0px;
        width: 240px;
    }

    #whyusimg_2{
        position: relative;
        width: 154px;
        top: -250px;
        left: 250px;
    }

    #whyusimg_3{
        position: relative;
        width: 150%;
        top: -40px;
        right: 70px;
    }

    .why_us_points{
        grid-column: 2/13;
        margin-left: 100px;
    }

    .why_us p {
        width: 100%;
    }
    button{
        display: flex;
        margin: auto;
        width: 120px !important;
        height: 40px !important;
    }
    .contact_btn a{
        width: auto;
        height: auto;
        margin: auto;
    }

    .mhp_commitment_item {
        display: grid;
        grid-template-columns: 1fr 1fr;
        gap: 40px;
        /* height: max-content; */
    }

    .commitment_img {
        height: 100%;
        width: auto;
        margin: 0px;
        flex: left;
    }

    .learnmore{
        margin: 50px 0px 0px 20px;
    }

    .commitment_data{
        width: 80%;
    }

    .commitment_data h1{
        margin: 0px;
    }

    .commitment_data p{
        width: 100%;
    }

    .learnmore p {
        margin: 0px;
        width: auto;
    }

    .mhp_reviews{
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        gap: 20px;
    }

    .review_heading{
        grid-column: 1/4;
        margin: 70px auto;
    }

    .review_heading h1{
        text-align: center;
    }

    .Mhp_contactus{
        display: grid;
        grid-template-columns: 1fr 1fr 1fr 2fr;
        width: 100%;
        margin: 0px;
        padding: 0px;
    }

    .contact_services, .contact_social{
        margin: 100px 0px 0px 0px;
    }

    .contact_services li,
    .contact_social li{
        margin: 20px 0px 20px 0px;
    }

    .form_contact_us {
        margin-left: 40px;
        width: 80%;
    }

    .contact_heading{
        font-size: 15.22px;
        margin: 0px 0px 30px 20px;

    }

    .form_contact_us button{
        display: inline;
        width: 220px !important;
        height: 63px !important;
        margin: 20px 50px 0px 30px;
        padding: 10px 0px 0px 20px;
        font-size: 16px;
        letter-spacing: 0.1em;
   
    }

    .form_contact_us p{
        display: inline-block;
    }

    footer{
        display: grid;
        grid-template-columns: 1fr 1fr 1fr 1fr;
    }

    footer a{
        text-decoration: none;
        color: var(--mhpgrey);
    }


    .ongoing_projects h1{
        margin: auto;
        text-align: left;
        /* margin-left: 300px; */
        font-size: 48px;
        font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    }

    .ongoing_projects p{
        margin-bottom: 100px;
        text-align: left;
        /* margin-left: 300px; */
        font-size: 18px;
        font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
        text-transform: none;
    }


    .projects_intro{
        width: 90%;
        margin: 50px auto 10px auto;
        padding-left: 60px;
    }

    .projects_intro p{
        width: 100%;
        margin-top: 5px;
    }

    .projects_intro h1{
        font-size: 48px ;
    }

    .Page_active{
        /* width: 80%; */
        margin: auto;
        display: grid;
        grid-template-columns: 1fr 1fr;
    }

    .projectImages img{
        width:80%;
        height: auto;
    }
    .projects_intro{
        text-align: center;
    }
    .project_swipers{
        display: flex;
       justify-content: center;
       margin-top: 30px;
    }

    .project_swipers img{
        width: 80%;
        margin: auto;
    }

    .recentProjectSections{
        margin-bottom: 100px;
    }
    .project_btn_group{
        justify-content: center;
        width:max-content;
        margin: auto;
    }

    .project_btn_group button{
        margin-left: 40px;
        width: 200px;
        font-size: 0.8em;
    }

    .about_us img{
        width: 70%;
        height: auto;
    }

    .about_us p{
        width: 60%;
        margin-left: auto;
        margin-right: auto;
    }

    .about_us h1{
        font-size: 40px;
    }

    .signature_ecclipse img{
        width: 50px !important;
       text-align: left;
    }



    
}

@media screen and (min-width: 960px){

    .large_nav{
        display: grid;
        grid-template-columns: repeat(12 1fr);
    }

    .mainLogo{
        grid-column: 1/3;
    }

    .navLinks{
        grid-column: 6/10;
        margin-top: 50px;
    }

    .navLinks a{
        font-size: 18px;
    }


    .home_banner_images{
        height: 283px;
    }

    .why_us_img img {
        width: 100%;
        height: auto;
    }

    #whyusimg_1 {
        position: relative;
        top: 0px;
        width: 240px;
    }

    #whyusimg_2 {
        position: relative;
        width: 154px;
        top: -250px;
        left: 250px;
    }

    #whyusimg_3 {
        position: relative;
        width: 150%;
        top: -40px;
        right: 70px;

    }



}